<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- <link rel="stylesheet" type="text/css" href="/css/css-global.css"> -->

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/register.css">


  <title>Travel Experts Error 404 Page Not Found</title>
  
   
</head>

  <%- include('./partials/header.ejs'); %>

<body> 
  <!-- <div class="h2"> -->
    <h1><%= page %>Page not found</h1>
  <!-- </div>   -->
 

  <!-- <%- include('./partials/js-gallery'); %> -->
  <%- include('./partials/js-toggle'); %>  
  
  </body>
  
  <%- include('./partials/foot'); %>
  
  </html> 