<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to <%= title %>!</title>
  <%- include('./partials/css-global'); %>
</head>

<%- include('./partials/header.ejs'); %>

<body>
  <header class="full-vh center-items">
    <figure id=figure_text>
      <img src="http://picsum.photos/id/<%= id %>/600" alt="<%= title %>">
      <figcaption>Welcome to <%= title %>!</figcaption>
    </figure>
  </header>

<%- include('./partials/js-gallery'); %>
<%- include('./partials/js-toggle'); %>  

</body>

<%- include('./partials/foot'); %>

</html>