<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Main Page</title>
  
  <%- include('./partials/css-global'); %>
  
</head>

  <%- include('./partials/header_gal.ejs'); %>

<body>
  <div>  
    <section class="gallery"></section>
  </div> 

<%- include('./partials/js-gallery'); %>
<%- include('./partials/js-toggle'); %>  

</body>

<%- include('./partials/foot'); %>

</html>