<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Destinations</title>
  
  <%- include('./partials/css-global'); %>
  
</head>

  <%- include('./partials/header.ejs'); %>

<body class="mountain"> 
  <div class="h2">
    <h2>WELCOME TO TRAVEL EXPERTS!</h2>
  </div>  
  <main class="signup_form">
      <form action="#" method="post">
       <div class="container_login">
        <h3>Login Page</h3>
        <fieldset>
          <div>
            <label for="email_input" class="required" >Email Address</label>
            <input type="email" size="25" name="email" id="email_input" placeholder="Enter your email address" required>
            <div>
              <label for="pass_input" class="required"> Password (8 characters minimum) </label>
              <input type="password" name="password" id="pass_input" minlength="8" placeholder="Enter your password" required>
              <div>
                <input type="submit" value="Sign In" id="form_submit" >
              </div> 
            </div>
          </div>  
        </fieldset>
       </div>
     </form>
  </main>  

  <%- include('./partials/js-gallery'); %>
  <%- include('./partials/js-toggle'); %>  
  
  </body>
  
  <%- include('./partials/foot'); %>
  
  </html> 